.API-Results-Container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.API-Result-Card {
  display: flex;
  flex-direction: row;
  border: 0.5px dotted black;
  font-family: 'Poppins', sans-serif;
  margin-top: 3%;
  height: 135px;
  background-color: #f0f5f5;
}

.Card-Middle {
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 100%;
}

.Item-Image {
  margin-right: 5%;
  height: 135px;
}

.Item-Title {
  height: 75%;
  color: #5AB9EA;
  font-size: 20px;
}

.Add-Item-Button {
  background-color: #84CEEB;
  width: 120px;
  height: 20px;
  border-radius: 8px;
  border: none;
  margin-top: 10.5%;
  margin-right: 1.5%;
}

.Add-Item-Link {
  text-decoration-line: none;
  color: white;
}
