{% extends 'base.html' %}

{% block head %}
<title>All Wishlists</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pages.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">All Wishlists</h1>
    {% if lists|length < 1 %}
    <h4 style="text-align: center">There are no wishlists. Login to your account and make your own Wishlist!</h4>
    {% else %}
    <table>
        <tr>
            <th>Like/Dislike</th>
            <th>List</th>
            <th>Added</th>
            <th>Creators</th>
        </tr>
        {% for list in lists %}
            <tr>
                <td>
                  {% if has_liked_wishlist(list[0]) %}
                  <a href="{{ url_for('like_action', wishlist_id=list[0].id, action='unlike') }}" >Unlike</a>
                  {% else %}
                  <a href="{{ url_for('like_action', wishlist_id=list[0].id, action='like') }}" >Like</a>
                  {% endif %}
                  {{ list[0].liked.count() }} likes
                </td>
                <td>
                    <a href="/list/{{list[0].id}}">
                        {{ list[0].content }}
                    </a>
                </td>
                <td>{{ list[0].date_created.date() }}</td>
                <td>
                    {{ list[1].username }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    <!--
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add List">
            </form>
        </div>
    -->
    </div>
</body>
{% endblock %}
