{% extends 'base.html' %}

{% block head %}
<title>All Wishlists</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/allWishlists.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1>All Wishlists</h1>
    {% if lists|length < 1 %}
    <h4 style="text-align: center">There are no wishlists. Login to your account and make your own Wishlist!</h4>
    {% else %}
    <!-- <table class="All-Wishlist-Table"> -->
        <!-- <tr class="Column-Titles">
            <th class="Column-Title">Like/Dislike</th>
            <th class="Column-Title">List</th>
            <th class="Column-Title">Added</th>
            <th class="Column-Title">Creators</th>
        </tr> -->
        <div class="Wishlists-Holder">
        {% for list in lists %}
            <div class="Wishlist-Card">
                <img src="#" class="Card-Image"/>
                <a class="Wishlist-Title" href="/list/{{list[0].id}}">
                    {{ list[0].content }}
                </a>
                <p class="Creator-Username">
                        {{ list[1].username }}
                </p>
                <div class="Card-Bottom">
                  {% if has_liked_wishlist(list[0]) %}
                  <p>
                    <a class="Wishlist-Unlike" href="{{ url_for('like_action', wishlist_id=list[0].id, action='unlike') }}" >
                        <img class="Unlike-Icon" src="../static/images/thumbsDownIcon.png"/>
                    </a>
                 </p>
                  {% else %}
                  <p>
                    <a class="Wishlist-Like" href="{{ url_for('like_action', wishlist_id=list[0].id, action='like') }}">
                        <img class="Like-Icon" src="../static/images/thumbsUpIcon.png"/>
                    </a>
                 </p>
                  {% endif %}
                 <p class="Like-Count"> {{ list[0].liked.count() }} likes</p>
                 <p class="Date-Added">{{ list[0].date_created.date() }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- </table> -->
        {% endif %}
    <!--
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add List">
            </form>
        </div>
    -->
    </div>
</body>
{% endblock %}
