{% extends 'base.html' %}

{% block head %}
<title>Wishlist Comments</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/view.css') }}">
{% endblock %}

{% block body %}
    <div class="Thread-Comments-Container">
        <h1 style="text-align: center">{{ lists[0].content }}</h1>
        {% for list in lists %}
            <div class="Comments-Container-Top">
                    <a class="Wishlist-Name" href="/list/{{list[0].id}}">
                        {{ list[0].content }}
                    </a>
                <p class="Wishlist-Creator">{{ list[1] }}</p>
            </div>
            {% endfor %}

      {% if result|length < 1 %}
        <h4 class="Comment-Text">No comments yet.</h4>

      {% else %}
        <div class="Thread-Comments">
          <table>
            <!-- <tr>
              <th>Comments</th>
              <th>Added</th>
            </tr> -->
            {% for sublist in result %}
              <div class="Comment-Container">
                  <p class="Comment-Content">{{ sublist[0].body }}</p>
                  <p class="Date-Added"><strong>{{ sublist[1] }}</strong> - {{ sublist[0].timestamp.strftime('%H:%M - %B-%d-%Y') }}</p>
              </div>
            {% endfor %}
          </table>
        </div>
      {% endif %}

      <form class="Create-Comment-Form" action="/comments/1" method="POST">
          <textarea type="text" name="content" class="Single-Comment-Content" placeholder="Write a comment" required></textarea><br>
          <input type="hidden" name="parentId" value="{{ lists[0].0.id }}">
          <input type="hidden" name="authorId" value="{{ lists[0].0.user_uid }}">
          <input type="submit" value="Comment" class="Post-Comment-Button">
      </form>
      <br><br>
    </div>




<br><br><br>
{% endblock %}
