{% extends 'base.html' %}

{% block head %}
<title>Wishlists</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/list.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/alert.css') }}">
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for category, message in get_flashed_messages(with_categories=True) %}
  <div style="text-align:center" class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

{% endif %}
{% endwith %}

<div class="content">
    <div class="form-container">
        <h1 class="Current-Wishlist-Title">Current Wishlist: <b><u>{{ result.0.content }}</u></b></h1>
        <form class="form" action="" method="POST">
            <input class="Add-List-Input" type="text" name="content" maxlength="100" required>
            <input type="hidden" name="parentId" value="{{ result.0.id }}">
            <input class="Add-Sub-List-Button" type="submit" value="Add Sub-List">
        </form>
    </div>
    {% if result.1|length < 1 %}
    <h2 style="text-align: center">There are no sub-lists for {{result.0.content}}. <br> Create one below!</h2>
    {% else %}
    <div class="List-Container">
        {% for sublist in result.1 %}
        <div class="Item-Row">
            <img class="Item-Image" src={{ sublist.image_file }}>
            <div class="Middle-Section">
                <p class="Item-Title">{{ sublist.child_content }}</p>
                <p class="Item-Date-Added">Added on {{ sublist.date_created.date().strftime('%B %d, %Y') }}</p>
            </div>
            <div class="End-Section">
                <p class="Item-Price">{{ sublist.prices }}</p>
                <div class="Item-Actions">
                    <a href="/charts/{{sublist.id}}">
                      <img class="Chart-Icon" src="../static/images/analytics-24px.svg" />
                    </a>
                    <a href="/updatesub/{{sublist.id}}">
                        <img class="Update-Icon" src="../static/images/updateIcon.png" />
                    </a>
                    <a href="/deletesub/{{sublist.id}}">
                        <img class="Delete-Icon" src="../static/images/deleteIcon.png" />
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
