<!doctype html5>
<html>

<head>
  <title>Login</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<!-- <body class=login_body>
    <img class="Wishlist-Logo" src="../static/graphics/wishlist_logo_redblack.png" />
  <div class="login">
  <div class="SignUp-Container">
      <button class="Alt-Login-Button">
          <a class="Sign-Up-Text"
            href="{{ url_for('signup') }}">Signup</a>
        </button>
    <p class="Login-Caption">Login to your Wishlist Account!</p>
    <form id="signup" action="{{ url_for('login')}}" method="post">
      <div class="Input-Div">
        <img class="Login-Input-Icon" src="../static/graphics/user_icon.png"/>
        <input type="text" class="login-input" id="username" name="username" placeholder="Username" />
      </div>
      <div class="Input-Div">
          <img class="Login-Input-Icon" src="../static/graphics/key_icon.png"/>
          <input type="password" class="login-input" id="password" name="password" placeholder="Password" />
     </div>
      <input type="submit" class="Login-Button" id="submit" text="Login" value="Login"/>
    </div>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
</body> -->

<body>
  <!-- navigation bar -->

  <nav id="navbar" class="nav">
    <div class="nav-wrapper">
      <div class="logo">
        <a href="/home"><i class="fa fa-angellist"></i>Wishlist</a>
        <ul id="menu">
         <li><a href="/home">Home</a></li>
         <li><a href="/">Create Wishlist</a></li>
         <li><a href="/wishlists">Explore</a></li>
         <li><a href="/forum">Community Forum</a></li>
      </ul>
      </div>
      <ul>
       <li><a href="/profile">Profile</a></li>
       <li><a href="{{ url_for('login')}}">Login</a></li>
       <li><a href="{{ url_for('signup')}}">Signup</a></li>
      </ul>
    </div>
  </nav>

<!-- <div class="nav">
  <ul>
    <li><a href="#" class="nav-link">Home</a></li>
    <li><a href="#" class="nav-link">Create Wishlist</a></li>
    <li><a href="#" class="nav-link">Explore</a></li>
    <li><a href="#" class="nav-link">Community Forum</a></li>
  </ul>
    <div class="nav-right">
      <ul>
        <li><a href="#search">Login</a></li>
        <li><a href="#about">Signup</a></li>
      </ul>
    </div>
</div> -->

<!-- login form -->
<div class="container" id="container">
	<div class="form-container sign-up-container">
			<h1>Create Account</h1>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
	</div>
	<div class="form-container sign-in-container">
	<form id="signup" action="{{ url_for('login')}}" method="post">
			<h1>Sign in</h1>
			<input type="text" id="username" name="username" placeholder="Username" />
			<input type="password" id="password" name="password" placeholder="Password" />
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>No Account!</h1>
				<p>Dont worry, enter your personal details and start creating with us</p>
				<button class="ghost" id="signUp">
          <a href="{{ url_for('signup') }}">Signup</a>
        </button>
			</div>
		</div>
	</div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
</body>


</html>
