<!doctype html5>
<html>

<head>
  <title>Login</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}">

</head>

<body>
  <div class="Login-Container">
      <button class="Sign-Up-Button">
          <a class="Sign-Up-Text" 
            href="{{ url_for('signup') }}">Signup</a>
        </button>
    <p class="Wishlist-Login-Heading">WISHLIST</p>
    <p class="Wishlist-Login-Caption">Sign into your Wishlist!</p>
    <form id="login" action="{{ url_for('login')}}" method="post">
      <input type="text" class="login-input" id="username" name="username" placeholder="Username" />
      <input type="password" class="login-input" id="password" name="password" placeholder="Password" />
      <input type="submit" class="submit-button" id="submit" text="Login" />
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
</body>

</html>