{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pages.css') }}">
<title>Wishlists</title>
{% endblock %}

{% block body %}

<body>
    <div class="Splash-Page">
        <div class="Splash-Page-Section-2">
            <img class="Splash-Page-Section-2-Image" src="../static/images/paints.jpg" />
            <div class="Feature-List-Section">
                <p class="Feature-List-Title">
                    Create. Add. Share.
                </p>
                <ul class="Feature-List">
                    <li class="Feature-List-Item">
                        Save for later.
                    </li>
                    <li class="Feature-List-Item">
                        Share your crazy and not so crazy wishes.
                    </li>
                    <li class="Feature-List-Item">
                        See what your friends wish for.
                    </li>
                </ul>
                <a class="Action-1-Link" href="{{ url_for('signup') }}">Create my first WISHLIST</a>
            </div>
        </div>
        <div class="Device-Section">
            <div class="Device-Subsection">
                <p class="Feature-List-Title">
                    Fun & Easy to Use.
                </hp>
                <ul class="Feature-List">
                    <li class="Feature-List-Item">
                        Our Web Application is on all major browsers.<br/>
                        Chrome, Firefox, and Safari.
                    </li>
                    <li class="Feature-List-Item">
                        Seamlessly add items from Amazon or eBay.
                    </li>
                    <li class="Feature-List-Item">
                        Easily update Wishlists as you please.
                    </li>
                </ul>
            </div>
            <img class="Device-Feature-Image" src="../static/images/skyscraper.jpg" />
        </div>
        <div class="About-Us-Section">
            <img src="../static/images/friends_jumping.jpg" class="About-Us-Image"/>
            <div class="About-Us-Text-Section">
                <p class="About-Us-Title">ABOUT US</p>
                <p class="About-Us-Text">
                    Have you ever made a wish? Wanted something you couldn't get?
                    Passed on something because it was too expensive? Missed out 
                    <br/>
                    on something because it sold out? What if it was easier to 
                    get what you wished for? WISHLIST is an immersive web application 
                    <br/>
                    where you can express what you wish for, others can see it and 
                    maybe, just maybe, that wish comes true. We're here to make 
                    dreams a reality. 
                    <br/>
                    WISHLIST. We make wishes come true.
                </p>
            </div>
        </div>
    </div>
</body>
{% endblock %}