{% extends 'base.html' %}

{% block head %}
<title>Wishlists</title>
{% endblock %}

{% block body %}
<div class="content">
    {% if context.sub %}
    <h1 style="text-align: center">Update your sub list</h1>

    <div class="form">
        <form action="/updatesub/{{context.sublist.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{context.sublist.child_content}}" required>
            <input type="submit" value="Update">
        </form>
    </div>
    {% else %}
    <h1 style="text-align: center">Update Wishlist</h1>

    <div class="form">
        <form action="/update/{{context.list.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{context.list.content}}">
            <input type="submit" value="Update">
        </form>
    </div>

    {% endif %}
</div>
{% endblock %}
