<!doctype html5>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
  <title>{{ session["USERNAME"].title() }} - Home</title>
</head>

<body>
  <img class="Wishlist-Logo" src="../static/graphics/wishlist_logo_redblack.png" />
    <form id="Profile-Form" onSubmit={this.handleSubmit}>
      <div class="Profile-Heading">
        <p class="Greeting-Text">Hello {{session["USERNAME"].title()}}</p>
        <button class="My-Wishlists-Button">
          <a class="Button-Text" href="{{ url_for('myWishlists') }}">My Wishlists</a>
        </button>
        <button class="Logout-Button">
          <a class="Button-Text" href="{{ url_for('logout') }}">Logout</a>
        </button>
      </div>

      <p class="Profile-Caption">Profile</p>
      <input type="text" class="Profile-Input" name="name" placeholder="Name" onChange={this.handleChange} />
      <input type="text" class="Profile-Input" name="email" placeholder="Email" onChange={this.handleChange} />
      <input type="text" class="Profile-Input" name="city" placeholder="City" onChange={this.handleChange} />
      <input type="text" class="Profile-Input" name="interests" placeholder="Interests" onChange={this.handleChange} />
      <input class="Update-Profile-Button" type="submit" value="Update Profile" />
    </form>
</body>

</html>