<!doctype html5>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/auth.css') }}">
  <title>{{ session["USERNAME"].title() }} - Home</title>
</head>

<body>
  <img class="Wishlist-Logo" src="../static/graphics/wishlist_logo_redblack.png" />
  <div class="SignUp-Container">
    <div class="Profile-Heading">
      <p class="Greeting-Text">Hello {{session["USERNAME"].title()}}</p>
      <div class="Button-Set">
          <button class="My-Wishlists-Button">
              <a class="Sign-Up-Text" href="{{ url_for('myWishlists') }}">My Wishlists</a>
            </button>
            <button class="Logout-Button">
              <a class="Sign-Up-Text" href="{{ url_for('logout') }}">Logout</a>
          </button>
      </div>
    </div>
    <p class="SignUp-Caption">
      Edit my Profile</p>
    <form id="signup" onSubmit={this.handleSubmit}>
      <input type="text" class="login-input" name="name" placeholder="Name" onChange={this.handleChange} />
      <input type="text" class="login-input" name="email" placeholder="Email" onChange={this.handleChange} />
      <input type="text" class="login-input" name="city" placeholder="City" onChange={this.handleChange} />
      <input type="text" class="login-input" name="interests" placeholder="Interests" onChange={this.handleChange} />
      <input class="Sign-Up-Button" type="submit" value="Update Profile" />
    </form>
  </div>


<div class="">


    <h1 style="text-align: center">Liked Wishlists</h1>
    {% if likedList|length < 1 %}
    <h4 style="text-align: center">There are no liked wishlists.</h4>
    {% else %}
    <table>
        <tr>
            <th>Like/Dislike</th>
            <th>List</th>
            <th>Added</th>
        </tr>
        {% for list in likedList %}
            <tr>
                <td>
                  {{ list.liked.count() }} likes
                </td>
                <td>
                    <a href="/list/{{list.id}}">
                        {{ list.content }}
                    </a>
                </td>
                <td>{{ list.date_created.date() }}</td>
                <td>
                    {{ list.username }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}



</div>


<div class="">


  <h1 style="text-align: center">Wishlists I created</h1>
  {% if listCreated|length < 1 %}
  <h4 style="text-align: center">There are no liked wishlists.</h4>
  {% else %}
  <table>
      <tr>
          <th>Like/Dislike</th>
          <th>List</th>
          <th>Added</th>
      </tr>
      {% for list in listCreated %}
          <tr>
              <td>
                {{ list.liked.count() }} likes
              </td>
              <td>
                  <a href="/list/{{list.id}}">
                      {{ list.content }}
                  </a>
              </td>
              <td>{{ list.date_created.date() }}</td>
              <td>
                  {{ list.username }}
              </td>
          </tr>
          {% endfor %}
      </table>
      {% endif %}


</div>

</body>

</html>
