{% extends 'base_forum.html'%}

{% block head %}
<title>{{ thread.title }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/view.css') }}">
{% endblock %}

{% block body %}
<div class="Thread-Comments-Container">
  <a href="/forum" class="Back-Button"><img class="Back-Icon" src="../static/images/backIcon.png" /></a>
  <p class="Thread-Title">{{ thread.title }}</p>
  <div class="Thread-Content">
    {{ thread.content }}
  </div>
  {% if comment|length < 1 %}
    <h4 class="Comment-Text">No comments yet.</h4>

  {% else %}
    <div class="Thread-Comments">
      <table>
        <!-- <tr>
          <th>Comments</th>
          <th>Added</th>
        </tr> -->
        {% for comment in comment %}
          <div class="Comment-Container">
              <p class="Comment-Content">{{ comment.content }}</p>
              <p class="Date-Added">{{ comment.date_created.strftime('%H:%M - %B-%d-%Y') }}</p>
          </div>
        {% endfor %}
      </table>
    </div>
  {% endif %}

  <form class="Create-Comment-Form" action="/view/{{thread.id}}" method="POST">
    <textarea type="text" name="content" class="Single-Comment-Content" placeholder="Write a comment" required></textarea><br>
    <input type="submit" value="Comment" class="Post-Comment-Button">
  </form>
</div>

{% endblock %}
