
.All-Wishlists-Content{
  background-color: #b3e0ff;
}

.Wishlists-Holder {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 20%;
  background-color: white;
}

.Card-Image {
  height: 50%;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Wishlist-Card {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 300px;
  border: 0.5px solid black;
  margin-left: 6.5%;
  margin-top: 4%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.Wishlist-Title {
  text-decoration-line: none;
  text-align:center;
  font-size: 18px;
  padding-top: 15px;
  color: #84CEEB;
}

.Creator-Username {
  text-align: center;
  padding-top: 10px;
}

.Card-Bottom {
  display: flex;
  flex-direction: row;
}

.Wishlist-Like {
  padding-right: 7px;
  padding-left: 15px;
  text-decoration-line: none;
  color: #5AB9EA;
}

.Date-Added {
  margin-left: 63px;
}

.Like-Icon {
  width: 32px;
  height: auto;
  position: relative;
  bottom: 10%;
}

.Comment-Icon {
  width: 32px;
  height: auto;
  margin-left: 5px;
  bottom: 10%;
}

.Unlike-Icon {
  width: 27px;
  height: auto;
  position: relative;
  bottom: 10%;
  margin-left: 14px;
  margin-right: 7px;
}
