/* .Wishlists-Container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.Wishlist-Card {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 300px;
  border: 0.5px solid black;
  margin-left: 6.5%;
  margin-top: 4%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
} */

/* .Wishlist-Title-Link {
  color: #adadad;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration-line: none;
  margin: 0px;
} */

.Wishlist-Title{
  color: #adadad;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0px;
}

.Wishlist-Title-Link {
  color: #adadad;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration-line: none;
  margin: 0px;
}

/* .Card-Image {
  height: 50%;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Card-Bottom {
  display: flex;
  flex-direction: row;
  margin-top:50px;
} */

.Date-Added {
  margin-left: 10px;
  position: relative;
  text-align: left;
}

.Update-Icon {
  width: 25px;
  height: 25px;
  /* padding-right: 10px;
  margin-left: 212px; */
  position: relative;
  bottom: 35%;
  left: 70%;
}

.Delete-Icon {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 35%;
  left: 75%;
}

.Update-Link {
  text-decoration-line: none;
}

.Delete-Link {
  text-decoration-line: none;
}

.New-List-Input {
  width: 35%;
  height: 35px;
  border-radius: 18px;
  border: 0.5px solid black;
  margin-bottom: 20px;
  margin-left: 32.5%;
}

.Add-List-Button {
  font-size: 21px;
  border: none;
  background-color: white;
  position: relative;
  right: 3%;
  top: 3px;
}

.My-Wishlists-Text {
  font-family: Andale Mono;
}





*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

/* body {
  color: #272727;
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
} */

.main{
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 90%;
  flex-direction: column;
  overflow: hidden;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card_content {
  /* padding: 1rem; */
  height: 75%;
  /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
}

/* .card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
} */

/* .card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
} */
