body {                    /*stops the overlaying of the navbar*/
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


#navbar {
  background: white;
  /* color: rgb(13, 26, 38); */
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  min-width: 1000px;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 20px;
  font-family: Andale Mono;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  }

#navbar ul {
	min-width:165px;
	white-space: nowrap;
  display: inline-block;
  float: right;
  list-style: none;
	margin-left: 30px;
  margin-right: 100px;
  margin-top: -2px;
  text-align: right;
  /* transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out; */
}

#navbar ul li {
  display: inline-block;
  padding: 0 10px;
}

#navbar ul li a {
  display: block;
  font-size: 15px;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding-left: : 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.a_nav{
  color: black;
  text-decoration: none;
  font-family: Andale Mono;
  font-size: 15px;
}

#navbar li a:hover {
  border-bottom: 1px solid rgb(28, 121, 184);
	background: #5AB9EA;
	transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
