.Wishlist-Logo {
  width: 10%;
  height: 10%;

}
body {
  background-color: #6b5b95;
  margin:0;
  padding:0;
}

.Splash-Page {
  background-color: white;
}

h1,h4 {
  text-align: center;
  color: white;
}
.All-Wishlist-Table {
  position: relative;
  left: 25%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-color: #feb236;
  margin-top: 2%;
}

.Column-Title {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 50px;
  width: 250px;
  text-align:center;
}

.Column-Title-Link {
  text-decoration-line: none;
}

.Nav-Links {
  color: white;
  text-decoration-line: none;
}

.form {
  position: relative;
  left: 43%;
}

.Splash-Page-Section-2 {
  display: flex;
  flex-direction: row;
}

.Splash-Page-Section-2-Image {
  height: auto;
  width: 350px;
  margin-left: 3%;
  margin-top: 3%;
}

.Feature-List-Title {
  color: black;
  font-size: 70px;
  position: relative;
  left: 10%;
}

.Feature-List {
  list-style-type: square;
}

.Feature-List-Item {
  font-size: 30px;
  position: relative;
  left: 10%;
  margin-bottom: 5%;
}

.Action-1-Link {
  position: relative;
  left: 17%;
  font-size: 20px;
}

.Get-Started-Link {
  text-decoration: none;
}

.Device-Section {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Device-Feature-Image {
  width: 400px;
  height: auto;
  margin-left: 5%;
}

.About-Section {
  display: flex;
  flex-direction: row;
}

.About-Us-Image {
  width: 100%;
  height: auto;
}

.About-Us-Text {
  font-size: 20px;
}

.About-Us-Title {
  font-size: 50px;
  margin-bottom: 0;
}

.About-Us-Text-Section {
  text-align: center;
}