
body {
  background-color: #f0f5f5;
}

h1,h4 {
  text-align: center;
  color: black;
}

.Current-Wishlist-Title {
  text-align: center;
  margin-top: 70px;
}
.All-Wishlist-Table {
  position: relative;
  left: 25%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-color: white;
  margin-top: 2%;
}

.Column-Title {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 50px;
  width: 250px;
  text-align:center;
}

.Column-Title-Link {
  text-decoration-line: none;
}

.Nav-Links {
  color: black;
  text-decoration-line: none;
}

.List-Table {
  position: relative;
  left: 19%;
  border: 1px solid black;
  margin-bottom: 20px;
  width: 60%;
  margin-top: 90px;
}

.Item-Row {
  background-color: #e1eaea;
  height: 200px;
  font-size: 20px;
}

.Item-Name {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.Item-Price {
  text-align: center;
  width: 120px;
}

.Item-Date-Added {
  text-align: center;
  width: 120px;
}

.Item-Actions {
  text-align:center;
  width: 100px;
}

.Item-Image {
  padding-left: 20px;
  height: 200px;
  width: auto;
}

.Navigation-Bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.Navbar-Item  {
  text-decoration: none;
  font-size: 25px;
  width: 150px;
  height: 45px;
  text-align: center;
  color: white;
  padding-top: 10px;
}

.Navbar-Item:hover {
  background-color: #111;
}

.Wishlist-Logo {
  position: relative;
  right: 60%;
  height:55px;
  width: auto;
}

.form {
  position: relative;
  left: 28%;
  margin-top: 35px;
  margin-bottom: 50px;
}

.Add-List-Input {
  width: 550px;
  height: 35px;
  border-radius: 18px;
}

.Add-List-Submit {
  font-size: 21px;
  border: none;
  position: relative;
  padding-top: 4.5px;
  right: 2.5%;
  background-color: white;
}

.Add-Sub-List-Button {
  font-size: 21px;
  border: 0.5px solid black;
  border-radius: 18px;
  position: relative;
  padding-top: 4.5px;
  background-color: black;
  color: white;
  padding: 6.5px;
}