
body {
  background-color: #6b5b95;
}
.content {
  
}

h1 {
  text-align: center;
  color: white;
}
.All-Wishlist-Table {
  position: relative;
  left: 25%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-color: #feb236;
}

.Wishlist-Columns {
  
}

.Column-Title {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 50px;
  width: 250px;
  text-align:center;
}

.Column-Title-Link {
  text-decoration-line: none;
}

.Nav-Links {
  color: white;
  text-decoration-line: none;
}