.Update-Input {
  width: 35%;
  height: 35px;
  border-radius: 18px;
  border: 0.5px solid black;
  margin-bottom: 20px;
  margin-left: 32.5%;
  padding-left: 20px;
}

.Submit-Update {
  font-size: 21px;
  border: none;
  background-color: white;
  position: relative;
  right: 3%;
  top: 3px;
}

.Update-Title {
  font-weight: 300;
}