body{
  overflow-x: hidden;
}
.Wishlists-Container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.Wishlist-Card {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 300px;
  border: 0.5px solid black;
  margin-left: 6.5%;
  margin-top: 4%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.Wishlist-Title {
  text-decoration-line: none;
  text-align:center;
  font-size: 18px;
  padding-top: 15px;
  color: #84CEEB;
}

.Card-Image {
  height: 50%;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Card-Bottom {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.Like-Icon {
  height: 30px;
  width: auto;
  padding-left: 14px;
  padding-right: 10px;
}

.Like-Count {
  font-size: 20px;
  position: relative;
  bottom: 10px;
}

.Go-Icon {
  height: 24px;
  width: auto;
  margin-left: 290px;
  position: relative;
  top: 5px;
}

.Button-Set {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 85%;
}

.Action-Link {
  text-decoration-line: none;
  color: black;
  font-size: 18px;
  margin-left: 10px;
}

.Action-Link:hover {
  text-decoration-line: underline;
}

.User-Name {
  font-size: 18px;
  position: relative;
  bottom: 17px;
}

.Profile-Card {
  border: 0.5px solid black;
  margin-left: 2%;
  width: 220px;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
  bottom: 25px;
}

.User-Profile-Icon {
  padding-top: 10px;
  width: 110px;
  height: auto;
  margin-left: 40px;
}

.Icon-Container {
  background-color: #3399ff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-bottom: 10px;
}

.User-Details {
  height:auto;
  text-align: center;
  color: black;
}

.LikedWishlist {
  position: relative;
  bottom: 200px;
}
