/* body{
  overflow-x: hidden;
}
.Wishlists-Container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
} */

/* .Wishlist-Card {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 300px;
  border: 0.5px solid black;
  margin-left: 6.5%;
  margin-top: 4%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
} */

.Wishlist-Title {
  color: #adadad;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration-line: none;
  margin: 0px;
}

/* .Card-Image {
  height: 50%;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Card-Bottom {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
} */

.Like-Icon {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 0%;
  left: 10%;
}

.Like-Count {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 23%;
  left: 20%;
}

.Go-Icon {
  width: 23px;
  height: 23px;
  position: relative;
  bottom: 53%;
  left: 75%;
}

.Button-Set {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 85%;
}

.Action-Link {
  text-decoration-line: none;
  color: black;
  font-size: 18px;
  margin-left: 10px;
}

.Action-Link:hover {
  text-decoration-line: underline;
}

.User-Name {
  font-size: 18px;
  position: relative;
  bottom: 17px;
}

.Profile-Card {
  border: 0.5px solid black;
  margin-left: 2%;
  width: 220px;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
  bottom: 25px;
}

.User-Profile-Icon {
  padding-top: 10px;
  width: 110px;
  height: auto;
  margin-left: 40px;
}

.Icon-Container {
  background-color: #3399ff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-bottom: 10px;
}

.User-Details {
  height:auto;
  text-align: center;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

/* body {
  color: #272727;
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
} */

.main{
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: 300px;
  width: 300px;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 90%;
  flex-direction: column;
  overflow: hidden;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card_content {
  /* padding: 1rem; */
  height: 75%;
  /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
}

/* .card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
} */

/* .card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
} */

.LikedWishlist {
  position: relative;
  bottom: 200px;
}
